:root {
  --main-color: black;
  --sepia: rgb(53, 53, 53);
  --swiper-navigation-color: black;
  --swiper-theme-color: black;
  --swiper-pagination-color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--main {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container--fixedheight {
  height: 100vh;
}

.container--bg-jumbotron {
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container--bg {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.container--left {
  position: relative;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container--right {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
}

.container--right p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.container--col {
  display: flex;
  flex-direction: column;
}

.container--p {
  white-space: pre-line;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5rem;
  background-color: #ffffffca;
  padding: 1rem;
  text-align: center;
}

.container--p > span {
  display: block;
  /* margin: 1rem; */
  line-height: 22px;
  content: " ";
}

.container--img {
  /* width: 50vw; */
  height: 100%;
  object-fit: cover;
  background-color: lightGrey;
}

.container--buttons {
  margin: 1rem;
}

.container--social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social--col {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: inset;
  padding: 1rem;
}
.social--img {
  width: 50px;
  object-fit: cover;
  padding: 0.5rem;
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.746); */
  margin: 0.5rem;
}

.social--col:hover {
  background-color: #ffffff98;
}

.social--text {
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.746);
  border: 2px solid var(--main-color);
  margin: 0.5rem;
  color: var(--main-color);
}

ul {
  text-align: left;
}

.divider {
  width: 100%;
  height: 15vh;
  clear: both;
}

.title {
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
}

.logo {
  width: 60vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  mix-blend-mode: luminosity;
  filter: contrast(150%);
}
.overthetop {
  text-align: center;
  z-index: 10000;
  position: absolute;
  top: 80%;
  left: 50%;
  mix-blend-mode: luminosity;

  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 0 0 var(--sepia), -1px 0 0 var(--sepia), 0 1px 0 var(--sepia),
    0 -1px 0 var(--sepia), 1px 1px var(--sepia), -1px -1px 0 var(--sepia),
    1px -1px 0 var(--sepia), -1px 1px 0 var(--sepia);
  filter: sepia(1);
}

li > a {
  color: var(--main-color);
}
/* Swiper */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: sepia(50%);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
/* End Swiper */

/* Start Modal */

@media screen and (max-width: 1000px) {
  .divider {
    width: 100%;
    height: 10vh;
    clear: both;
  }

  .title {
    text-align: center;
  }

  .container {
    flex-direction: column;
  }

  .container--left {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    height: 100%;
  }

  .container--bg-jumbotron {
    top: -50vh;
    height: 100%;
    position: relative;
  }

  .container--bg {
    top: -5vh;
    height: 150%;
    object-fit: cover;
  }

  .container--right {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
  }

  .container--right > p {
    padding: 1rem;
  }

  .container--img {
    width: 100vw;
    height: 400px;
    object-fit: contain;
  }
}
